img{
    width: 300px;
    
}
h1,h2,h3{
    font-size: 20;
    color: black;
    background-color: #FFCC8F;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Bebas Neue', cursive;
font-family: 'Joan', serif;
font-family: 'Nuosu SIL', serif;
font-family: 'Tiro Gurmukhi', serif;
}

header div {
    text-align: center;
}
body{
    background-color:#FFDAAF ;
}
ul li span{
    font-weight: bold;
}
header{
    background-image: url(https://img.freepik.com/vector-gratis/dibujado-mano-lindo-fondo-contorno-mariposa_23-2149021590.jpg?w=2000);
    
}
footer{
    text-align: center;
}
body main ul li img{
    width: 3%;
}
